pypdfium2
streamlit
Pillow
torch
python-dotenv
pydantic
pydantic-settings
ftfy
tqdm
transformers
filetype
opencv-python-headless
huggingface_hub
# Build
cx-Freeze
coda
future
pyinstaller